# **Python to MS SQL Server Code**
### Created by Jerris George
### This is some code created to create a new database on my local MS SQL Server, Create a new Database, Populate Database, and Query Database

In [ ]:
# install pyodbc odbc library used to connect to MS SQL Server
!pip install pyodbc

In [26]:
# import libraries. Note: some librarys like pandas will be used later for data manipulation.
import pyodbc
import pandas as pd

In [27]:
# check for drivers which are supported
print(pyodbc.drivers())

['SQL Server', 'PostgreSQL ANSI(x64)', 'PostgreSQL Unicode(x64)', 'SQL Server Native Client 11.0', 'ODBC Driver 17 for SQL Server', 'SQL Server Native Client RDA 11.0', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

In [38]:
# create connection to SQL server
connection = pyodbc.connect(driver='{ODBC Driver 17 for SQL Server}',
                            server='9JCO9AE-PC\SQLEXPRESS',
                              trusted_connection='yes', 
                            autocommit='True')
cursor = connection.cursor()

In [ ]:
# command needed to create database
cursor.execute('CREATE DATABASE test_db')

In [29]:
# create table
cursor = connection.cursor()
cursor.execute('''CREATE TABLE test_db.dbo.products (
            product_id int primary key,
            product_name nvarchar(50),
            price int
            )
               ''')
connection.commit()

In [ ]:
#populate table with dummy values
cursor.execute('''INSERT INTO test_db.dbo.products (product_id, product_name, price)
            VALUES (100,'HP Laptop',630),
            (200,'TCL LED TV',400),
            (300,'Samsung Buds2',150),
            (400,'Dyson V12 Cordless',650),
            (500,'Phillips Hue Bulbs',115)
                ''')
connection.commit()

In [41]:
# check status of entered values 
print(cursor.rowcount, "was inserted.")

5 was inserted.

In [45]:
# query results from newly created table
cursor.execute('SELECT * FROM test_db.dbo.products')

results = cursor.fetchall()

for i in results:
  print(i)

(100, 'HP Laptop', 630)
(200, 'TCL LED TV', 400)
(300, 'Samsung Buds2', 150)
(400, 'Dyson V12 Cordless', 650)
(500, 'Phillips Hue Bulbs', 115)

In [ ]:
# close connection
connection.close()